.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App {
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100vh;
  float: left;
  box-shadow: 10px 0px 20px 0px #999;
  background-color: #33353E;
}

.main-logo-img {
  width: 60%;
  margin: auto;
}

.mainpage {
  margin: 30px auto;
  width: 70%;
}

